html{
    box-sizing: border-box;
}
body{
    background: #0039a2;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}
.questionBox, .result{
    position: relative;
    width: 350px;
    height: 300px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-style:italic;
}
.hidden{
    display: none;
}
.question{
    text-align: center;
}
.answer{
    display: flex;
    justify-content: space-around;
}
.btn{
    width: 70px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    position: absolute;
}
#no{
    right: 80px;
    top: 150px;
    background-color: #ed3434;
}
#yes{
    font-size: large;
    left: 80px;
    top: 150px;
    background-color: #4CAF50;
}